<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <h1>Registration</h1>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && regForm.name.errors }" />
          <div *ngIf="submitted && regForm.name.errors" class="invalid-feedback">
            <div *ngIf="regForm.name.errors.required">Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && regForm.email.errors }" />
          <div *ngIf="submitted && regForm.email.errors" class="invalid-feedback">
            <div *ngIf="regForm.email.errors.required">Email is required</div>
            <div *ngIf="regForm.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && regForm.password.errors }" />
          <div *ngIf="submitted && regForm.password.errors" class="invalid-feedback">
            <div *ngIf="regForm.password.errors.required">Password is required</div>
            <div *ngIf="regForm.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
