
<ul *ngIf="items" class="container list-group">
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Id</div>
      <div class="col-md-4">Title</div>
      <div class="col-md-4">Status</div>
    </div>
  </li>
  <li  *ngFor="let item of items" class="list-group-item">
    <app-item class="row" [item]="item"></app-item>
  </li>
</ul>
<app-add-form></app-add-form>
