
<div class="col-md-4">{{ item.id }}</div>
<div class="col-md-4">{{ item.title }}</div>
<div class="col-md-2">
  <span class="hover-cursor" [class.text-success]="item.done"  (click)="changeStatus(item)">
    <i class="fa fa-lg" [ngClass]="item.done?'fa-check-circle-o':'fa-circle-thin'"></i>
  </span>
</div>
<div class="col-md-1">
  <span class="hover-cursor text-success pull-right" (click)="openFormModal()">
    <i class="fa fa-pencil fa-lg"></i>
  </span>
</div>
<div class="col-md-1">
  <span class="hover-cursor text-danger pull-right" (click)="deleteItem(item.id)">
    <i class="fa fa-trash-o fa-lg"></i>
  </span>
</div>

