<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/register" *ngIf="!isLoggedIn" >Register</a>
        <a class="nav-item nav-link" href="/login" *ngIf="!isLoggedIn">Login</a>
        <a class="nav-item nav-link" [routerLink]="['/login']" *ngIf="isLoggedIn">Logout</a>
        <a class="nav-item nav-link" href="/list-items" *ngIf="isLoggedIn">My list items</a>
        <a class="nav-item nav-link" *ngIf="isLoggedIn" >Hello {{user.name}}</a>
      </div>
    </div>
  </nav>
</div>
