<div class="container mb-2">
  <div class="row">
    <div class="col-md-12 add-col">
      <form>
        <div class="input-group">
            <input type="text" [(ngModel)]="title" name="title" class="form-control">
            <button type="submit" [disabled]="!title" class="input-group-addon hover-cursor" (click)="addItem(title)">
              <i class="fa fa-plus-circle fa-2x"></i>
            </button>
        </div>
      </form>
    </div>
  </div>
</div>

