<section *ngIf="appLoaded">
  <app-top-menu></app-top-menu>
  <router-outlet></router-outlet>
  <ngx-toasta position="top-center"></ngx-toasta>
  <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "default"
    color = "#fff"
    type = "square-jelly-box"
  ></ngx-spinner>
</section>
<section *ngIf="!appLoaded">spinner</section>
