<div class="modal-header">
  <h4 class="modal-title">Modal Title</h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
    <i class="fa fa-close"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editTodoItem" (ngSubmit)="saveChanges()">
    <div class="modal-body">
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Title</label>
        <input type="text" class="form-control" id="recipient-name" formControlName="title" [(ngModel)]="title" name="title">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close clicked')">Close</button>
      <button type="submit" class="btn btn-primary">Save
        changes
      </button>
    </div>
  </form>
</div>
